.BotModelo{
	margin-left:   10px;
    margin-top:    20px;
}

.BotCarga{
	margin-left:   8px;
}

.BotPre{
	margin-left:   10px;
    margin-top:    28px;
}

.TxtInstrucoes{
	font-size: 10px;
}

.TxtDados{
	margin-top:    8px;
}

.TxtCombos{
	margin-top:    12px;
}

.Sessoes{
	margin-top:    20px;
}